* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.albums {
    margin-left: 30px;
}

.album {
    width: 200px;
    height: 200px;
    border: 1px solid red;
}

.photo {
    margin: 40px 15px 0 0;
    width: 250px;
}

.photo img {
    /*width: 250px;*/
    height: 100px;
}

.photo p {

}

